---
layout: default
title: Website Hosting
---

<div class="md:rounded-lg bg-brand-900/50 overflow-hidden fixed z-0 max-md:top-0 h-72 w-full md:left-4 md:inset-y-4 md:h-[calc(100%-2rem)] md:w-[calc(50%-2rem)]">
</div>

<div class="bg-brand-800 relative z-10 w-full max-md:mt-72 p-6 pb-24 lg:p-12 lg:pb-48 md:w-1/2 md:ml-auto text-default tracking-[0.0125em] linkify [&_p]:max-w-[50ch] text-pretty" id="about">

	<header class="relative after:block after:pb-[clamp(8rem,-14rem+50vh,40rem)] lg:after:pb-[clamp(8rem,-14rem+58svh,40rem)]">
		<h1 class="sticky top-6 lg:top-12 pb-4 lg:pb-12 font-bold tracking-[-0.0125em] text-white text-heading">Web Hosting</h1>
	</header>

	<div class="details space-y-8">
		<p>I provide hosting as part of the <a href="/info/maintenance/">maintenance package</a> or separately when no CMS is required. Websites are hosted in a London datacentre on secure Virtual Private Servers. The servers are regularly updated and optimised to ensure the sites I host perform at their best for all visitors.</p>

		<p>I do not use shared or reseller hosting packages, but if you are keen to maintain your own hosting I can make recommendations for shared and high quality hosting providers.</p>

		<p>Got a question or need some help? Email me at <a href="mailto:ryan@yep.digital">ryan@yep.digital</a> and I'll do the best I can.</p>

		<p><a class="!no-underline" href="/">← Home</a></p>
	</div>
</div>
