---
layout: default
title: Website Hosting
---

<article class="bg-brand-800 relative z-10 w-full p-8 lg:p-12 max-w-[65ch] mx-auto text-default tracking-[0.0125em] linkify text-pretty" id="about">
	<h1 class="spacer-b-lg font-bold tracking-[-0.0125em] text-white text-heading">
		Website Hosting
	</h1>

	<div class="details space-y-8">
		<p>I provide website hosting as part of the <a href="/info/maintenance/">maintenance package</a> or separately when no CMS is required. Websites are hosted in a London datacentre on secure Virtual Private Servers. The servers are regularly updated and optimised to ensure the sites I host perform at their best for all visitors.</p>

		<p>I do not use shared or reseller hosting packages, but if you are keen to maintain your own hosting I can make recommendations for shared and high quality hosting providers.</p>

		<p>If you have a question or need some help email me at <a href="mailto:ryan@yep.digital">ryan@yep.digital</a> and I'll do the best I can to provide an answer.</p>

		<p class="spacer-t-sm"><a class="!no-underline" href="/">← Home</a></p>
	</div>
</article>
