---
layout: default
title: Info
---

<article class="text-default relative z-10 w-full p-8 lg:p-12 max-w-[65ch] mx-auto tracking-[0.0125em] linkify text-pretty">

	<h1 class="spacer-t spacer-b-md font-bold tracking-[-0.0125em] text-white text-heading-xl">
		Info
	</h1>

	<ul class="details space-y-4 spacer-b-md">
		<li class="font-bold tracking-[-0.0125em] text-white text-heading spacer-t-xs">
			<a href="{{ '/info/maintenance/' | url }}">
				About Website Maintenance
			</a>
		</li>
		<li class="font-bold tracking-[-0.0125em] text-white text-heading spacer-t-xs">
			<a href="{{ '/info/hosting/' | url }}">
				About Website Hosting
			</a>
		</li>
		<li class="font-bold tracking-[-0.0125em] text-white text-heading spacer-t-xs">
			<a href="{{ '/info/terms/' | url }}">
				My Standard Terms & Conditions
			</a>
		</li>
		<li class="font-bold tracking-[-0.0125em] text-white text-heading spacer-t-xs">
			<a href="{{ '/info/maintenance-hosting-terms/' | url }}">
				My Maintenance & Hosting Terms & Conditions
			</a>
		</li>
	</ul>

	<p class="spacer-b-md"><a class="!no-underline" href="{{ '/' | url }}">← Home</a></p>
</article>
