{%- set metaTitle -%}
	{%- if not title -%}{{ site.title }}
	{%- else -%}{{ title | safe }} | {{ site.title }}
	{%- endif -%}
{%- endset -%}

{%- set metaDesc -%}
	{%- if not description -%}{{ site.description | safe }}
	{%- else -%}{{ description | safe }}
	{%- endif -%}
{%- endset -%}

<!DOCTYPE html>
<html class="no-js scroll-smooth scroll-m-8 h-[fill-available] text-brand-100 bg-brand-800" lang="en-GB" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>{{ metaTitle }}</title>
	<meta name="title" content="{{ metaTitle }}">
	<meta name="description" content="{{ metaDesc }}">

	<link rel="canonical" href="{{ site.url | url }}{{ page.url }}">

	<link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}?cb=3484557392">

	<meta property="og:type" content="website">
	<meta property="og:site_name" content="{{ metaTitle }}">
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:title" content="{{ metaTitle }}">
	<meta property="og:description" content="{{ metaDesc }}">
	<meta property="og:image" content="{{ '/assets/social-01.png' | url }}">
	<meta property="og:image:secure_url" content="{{ '/assets/social-01.png' | url }}">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta property="og:image:type" content="image/jpeg">
	<meta property="og:locale" content="en">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ metaTitle }}">
	<meta name="twitter:description"
		content="{{ metaDesc }}">
	<meta name="twitter:url" content="{{ site.url }}">
	<meta name="twitter:image" content="{{ '/assets/social-01.png' | url }}">

	{# 2024 favicon methods: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs #}
	<link rel="icon" href="/favicon.ico?cb=3484557392" sizes="32x32">
	<link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg?cb=3484557392">
	<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png?cb=3484557392">
	<link rel="manifest" href="/assets/favicons/site.webmanifest">
	<meta name="theme-color" content="#04254e">
	<meta name="apple-mobile-web-app-title" content="Yep">
</head>

<body>

	<!-- Oh boy this is a mess, a complete rewrite from scratch is coming soon so I can stop being embarrassed at the state of it 🫣 -->

	<main id="main-content">
		{{ content | safe }}
	</main>

</body>
</html>
