/* Various horizontal spacer classes typically used on sections of content */
/* Calculate fluid sizing with https://min-max-calculator.9elements.com or https://chrisburnell.com/clamp-calculator/ */
/* It's clamped to a min viewport of 320px and a max of 1280px */

@layer utilities {
	/* 8px min and 16px max */
	.spacer-xs,
	.spacer-t-xs {
		padding-top: clamp(0.5rem, 0.308rem + 0.77vw, 1rem);
	}
	.spacer-xs,
	.spacer-b-xs {
		padding-bottom: clamp(0.5rem, 0.308rem + 0.77vw, 1rem);
	}

	/* 16px min and 32px max */
	.spacer-sm,
	.spacer-t-sm {
		padding-top: clamp(1rem, 0.615rem + 1.54vw, 2rem);
	}
	.spacer-sm,
	.spacer-b-sm {
		padding-bottom: clamp(1rem, 0.615rem + 1.54vw, 2rem);
	}

	/* 32px min and 64px max */
	.spacer,
	.spacer-t {
		padding-top: clamp(2rem, 1.231rem + 3.08vw, 4rem);
	}
	.spacer,
	.spacer-b {
		padding-bottom: clamp(2rem, 1.231rem + 3.08vw, 4rem);
	}


	/* 48px min and 96px max */
	.spacer-md,
	.spacer-t-md {
		padding-top: clamp(3rem, 1.846rem + 4.62vw, 6rem);
	}
	.spacer-md,
	.spacer-b-md {
		padding-bottom: clamp(3rem, 1.846rem + 4.62vw, 6rem);
	}


	/* 64px min and 128px max */
	.spacer-lg,
	.spacer-t-lg {
		padding-top: clamp(4rem, 2.462rem + 6.15vw, 8rem);
	}
	.spacer-lg,
	.spacer-b-lg {
		padding-bottom: clamp(4rem, 2.462rem + 6.15vw, 8rem);
	}


	/* 96px min and 192px max */
	/* XL is not quote the same scale as the others, it's slightly less */
	.spacer-xl,
	.spacer-t-xl {
		padding-top: clamp(6rem, 3.692rem + 9.23vw, 12rem);
	}
	.spacer-xl,
	.spacer-b-xl {
		padding-bottom: clamp(6rem, 3.692rem + 9.23vw, 12rem);
	}
}
