@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "spacer";
@import "iphone";
@import "fonts";

/* @keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}

#main-content {
	animation: fadeIn 2000ms ease-out 250ms 1 normal both;
} */

@media (prefers-reduced-motion: no-preference) {
	@supports (animation-timeline: scroll()) {
		/* @keyframes imageOut {
			from {
				filter: saturate(1);
				opacity: 0.85;
			}
			to {
				filter: saturate(0);
				opacity: 0;
			}
		}

		@media screen(md) {
			@keyframes imageOut {
				from {
					filter: saturate(1);
					opacity: 0.85;
				}
				to {
					filter: saturate(0);
					opacity: 0.6;
				}
			}
		}

		#ryan {
			animation: imageOut linear both;
			animation-timeline: scroll(block);
			animation-range: 0 theme(width.60);
			view-timeline-axis: block;
		}

		@media screen(md) {
			#ryan {
				animation-range: 0 25vh;
			}
		} */
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		.details,
		.details li {
			animation: fadeIn linear both;
			animation-timeline: view(block);
			animation-range: 20px 200px;
		}
	}
}

@layer components {
	.bg-sketch {
		background-image: url(/assets/noise.png);
	}
	.linkify a {
		@apply text-white hover:text-brand-300 underline underline-offset-4 decoration-2 decoration-brand-300 hover:decoration-brand-500 outline-0 duration-200;
	}
}
