@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "spacer";
@import "iphone";
@import "fonts";

@supports (animation-timeline: scroll()) {
	@keyframes fadeOut {
		from {
			filter: saturate(1) brightness(1);
		}
		to {
			filter: saturate(0) brightness(0);
		}
	}

	@media screen(md) {
		@keyframes fadeOut {
			from {
				filter: saturate(1);
			}
			to {
				filter: saturate(0);
			}
		}
	}

	#ryan {
		animation: fadeOut linear both;
		animation-timeline: scroll();
		animation-range: 0 theme(width.64);
		view-timeline-axis: block;
	}

	@media screen(md) {
		#ryan {
			animation-range: 0vh 50vh;
		}
	}
}

@layer components {
	.cursor-finger {
		cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🎉</text></svg>") 16 0,auto;
	}

	.linkify a {
		@apply text-brand-base hover:text-white outline-0 duration-200;
	}

	/* body {
		background-image: url("/assets/noise.png");
		background-attachment: fixed;
	} */

	.rocky {
		display: none;
	}

	@media screen and (min-width: 2560px) {
		.rocky {
			display: block;
			bottom: -0.5rem;
			right: -0.5rem;
			position: fixed;
			width: 150px;

			img {
				transition: all 300ms cubic-bezier(.47,1.64,.41,.8);
				transition-delay: 700ms;
			}

			&:hover img {
				transform: translateX(100%) translateY(60%);
				transition-duration: 500ms;
				transition-delay: 0ms;
			}
		}
	}
}
