@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "spacer";
@import "iphone";
@import "fonts";

@layer components {
	.cursor-finger {
		cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🎉</text></svg>") 16 0,auto;
	}

	.linkify a {
		@apply text-brand-base hover:text-white outline-0 duration-200;
	}

	/* body {
		background-image: url("/assets/noise.png");
		background-attachment: fixed;
	} */

	.rocky {
		position: fixed;
		bottom: 0;
		right: 0;
		display: none;
		width: 150px;
	}

	@media screen and (min-width: 2560px) {
		.rocky {
			display: block;
			top: 0;
			right: 0;
			transition: all 100ms ease-in-out;
			transition-delay: 250ms;
			transform: scaleX(-1) rotate(180deg);

			&:hover {
				top: -65px;
				right: -40px;
				transition-delay: 0;
			}
		}
	}
}
