@layer components {
	.container {
		@apply w-full px-6 md:px-12 xl:px-20 py-10 lg:py-24 mx-auto scroll-mt-16 md:scroll-mt-24 lg:scroll-mt-32;
	}

	.linkify a {
		@apply text-brand-500 hover:text-stone-600 dark:hover:text-zinc-200 dark:focus:text-white outline-0 duration-200;
	}

	.heading {
		@apply font-extrabold tracking-tighter text-stone-400 dark:text-zinc-700 opacity-60 text-5xl sm:text-6xl sm:font-bold md:opacity-50 md:text-7xl lg:text-9xl xl:text-[9rem] 2xl:text-[10rem] 2xl:font-extrabold
	}

	.body-copy {
		@apply prose dark:prose-invert prose-lg lg:prose-xl 2xl:prose-2xl prose-hr:border-stone-300 prose-p:text-stone-600 dark:prose-p:text-zinc-300 dark:prose-hr:border-zinc-800 prose-strong:font-semibold prose-a:text-brand-500 hover:prose-a:text-stone-800 dark:hover:prose-a:text-white prose-a:duration-300
	}
	// ---- //

	/* Tweak and style the typography class with brand colours and settings */
	.prose-brand :is(:where(h1, h2, h3, h4, th):not(:where([class~="not-prose"] *))) {
		margin-top: theme('spacing.2') /* 8px */;
		margin-bottom: theme('spacing.2') /* 8px */;
	}

	.prose-brand :is(:where(a):not(:where([class~="not-prose"] *))) {
		transition-property: color, border-color, background-color, text-decoration-color;
		transition-duration: 300ms;
		text-decoration-line: underline;
		text-underline-offset: 2px;
		text-decoration-color: theme('colors.primary.200');
	}

	.prose-brand :is(:where(a):not(:where([class~="not-prose"] *))):hover {
		color: theme('colors.primary.600');
		text-decoration-color: theme('colors.primary.600');
	}

	/* Correct the aspect ratio of videos and iframes within the typography area */
	.prose :where(iframe):not(:where([class~="not-prose"] *)) {
		aspect-ratio: theme('aspectRatio.video');
		height: auto;
		width: 100%;
	}
}

@layer utilities {
	/* Style the first paragraph larger than the others */
	.has-lead > p:first-of-type {
		font-size: 125%;
		line-height: 1.5
	}
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope/Manrope[wght].woff2') format('woff2'),
       url('../fonts/manrope/Manrope[wght].ttf') format('truetype');
       font-weight: 200 800;
       font-display: swap;
       font-style: normal;
}
