---
layout: 'default'
---

<picture class="md:rounded-lg overflow-hidden fixed z-0 max-md:top-0 h-72 w-full md:left-4 md:inset-y-4 md:h-[calc(100%-2rem)] md:w-[calc(50%-2rem)]">
	<source media="(max-width: 640px)" srcset="{{ '/assets/ryan-small.webp' | url }}" type="image/webp">
	<source media="(max-width: 640px)" srcset="{{ '/assets/ryan-small.jpg' | url }}">

	<source media="(max-width: 1023px)" srcset="{{ '/assets/ryan-medium.webp' | url }}" type="image/webp">
	<source media="(max-width: 1023px)" srcset="{{ '/assets/ryan-medium.jpg' | url }}">

	<source media="(min-width: 1024px)" srcset="{{ '/assets/ryan-max.webp' | url }}" type="image/webp">
	<source media="(min-width: 1024px)" srcset="{{ '/assets/ryan-max.jpg' | url }}">

	<img src="{{ '/assets/ryan-md.jpg' | url }}" class="opacity-85 object-cover object-[50%_15%] size-full" alt="It's a me, a Ryan" id="ryan" fetchpriority="high" width="2880" height="2880">
</picture>

<div class="bg-sketch bg-fixed relative z-10 w-full bg-brand-950 max-md:mt-72 p-6 pb-24 lg:p-12 lg:pb-48 md:w-1/2 md:ml-auto text-default font-medium linkify [&_p]:max-w-[50ch] text-pretty" id="about">

	<header class="relative after:block after:pb-[clamp(8rem,-14rem+50vh,40rem)] lg:after:pb-[clamp(8rem,-14rem+65vh,40rem)]">
		<h1 class="font-bold sticky top-6 lg:top-12 pb-4 lg:pb-12 text-heading">
			<span class="tracking-[-0.0125em] text-white">Yep Digital</span>
			<span class="block tracking-[-0.0125em] opacity-50">Ryan Roberts</span>
		</h1>
	</header>

	<div class="details space-y-8">
		<p>I’m a freelance web developer based in North-East Scotland with two decades experience creating bespoke websites for small to medium-sized businesses, organisations, and individuals. I treat each project as a unique challenge, aiming to deliver on-brand solutions that help you meet your goals and cater to your customers’ needs.</p>

		<p>Since establishing Yep Digital in 2019, following a career at Aberdeen design agencies, I’ve worked with clients across a wide range of industries. Some recent clients include:</p>
	</div>

	<ul class="details font-bold pt-8 grid sm:max-md:grid-cols-2 2xl:grid-cols-2 gap-x-8 gap-y-3 text-balance">
		<li>Kinetic Renwable Services</li>
		<li>IDT-Innovar</li>
		<li>Scotia Financial Solutions</li>
		<li>COPA Resourcing Group</li>
		<li>Steer Energy</li>
		<li>Prosource IT</li>
		<li>Progressive Pathways</li>
		<li>Diversity Energy</li>
		<li>Grampian Campervan Hire</li>
		<li>The Garioch Partnership</li>
		<li>Evoke Marketing</li>
		<li>Bough Studio</li>
		<li>North East Adventure Tourism</li>
		<li>Developing Mountain Biking in Scotland</li>
		<li>Scottish Mountain Bike Tourism</li>
	</ul>

	<div class="details pt-4 border-t-4 border-white/40" style="margin-top: clamp(4rem, -10rem + 25vh, 20rem)">
		<h2 class="max-md:text-heading font-bold tracking-tight text-white pb-2">Get in touch</h2>
		<p>With a focus on delivering tailored digital experiences, I look forward to helping you build a website that accuratly represents your brand, meets your goals and engages your audience. Drop me an email at <a href="mailto:ryan@yep.digital">ryan@yep.digital</a> and I'll get back to you to schedule a chat.</p>
	</div>

	<div class="details pt-4 border-t-4 border-white/40" style="margin-top: clamp(4rem, -10rem + 25vh, 20rem)">
		<h2 class="max-md:text-heading font-bold tracking-tight text-white pb-2">Agencies and designers</h2>
		<p>If you're in need of a web developer to bring your web designs to life, email <a 	href="mailto:ryan@yep.digital">ryan@yep.digital</a> and we can schedule a chat to see how I can help you out.</p>
	</div>
</div>
