		<script src="https://cdn.jsdelivr.net/npm/canvas-confetti/dist/confetti.browser.min.js" type="4f48b5344ae4a8e20bf49de2-text/javascript"></script>
		<script type="4f48b5344ae4a8e20bf49de2-text/javascript">document.getElementById('fun').addEventListener('click',function(event){confetti({particleCount:100,startVelocity:30,spread:360,origin:{x:Math.random(),y:Math.random()-0.2}});});</script>
	</body>
</html>
